/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/06/2014, 09:01:32 AM
    Author     : jsalazar
*/

/*GENERAL*/
#encabezado {
    padding-bottom: 1px;
}
#principalContenedor {
    position: relative;
    top:-5px;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width: auto;
    height:500px
}
#alertasIngreso {
    position: absolute;
    top:20px;
    left:0;
    right:0;
    margin: 0 auto;
    height: 50px;
    width: 400px;
}

#alertasContenedor {
    position: absolute;
    top:100px;
    left:0;
    right:0;
    margin: auto;
    height: 50px;
    width: 350px;
}
#ContenedorGrid {
    position: absolute;
    margin: auto;
    top:100px;
    left:0;
    right:0;
    width: 600px;
    height: 400px;
}
#ContenedorGridTab{
    position: static;
    margin: auto;
    top:100px;
    left:0;
    right:0;
    width: 1000px;
    height: 500px;
}

#ContenedorGridMedio {
    margin: auto;
    top:100px;
    position: absolute;
    left:0;
    right:0;
    width: 900px;
    height: 500px;
}

#ContenedorGridGrande {
    margin: auto;
    top: 100px;
    position: absolute;
    left:0;
    right:0;
    width: 1250px;
    height: 400px;
}

#ContenedorForm {
    text-align: center;
    margin: auto;
    top:100px;
    position: static;
    left:0;
    right:0;
    height: 400px;
}
#tituloGrid {
    background-color: #00508d;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #FFFFFF;
}

/*IMAGENES*/
#logoSalir {
    width:50px;
    height:50px;
    float:right;
}
#logoSalir:hover {
    width:60px;
    height:60px;
    float:right;
}
#logoVer {
    width:16px;
    height:16px;
    float:right;
}

/*FOOTER.JSP*/
#footerStyle{
    background-color: #009933;
    text-align: center;
    color: #FFFFFF;
}


/*LOGIN.JSP*/
#textoLogin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
#centrarLogin {
    position: absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    height: 270px;
    width: 240px;
    border-top: 3px double #00508d;
    border-right: 3px double #00508d;
    border-bottom: 3px double #00508d;
    border-left: 3px double #00508d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#tituloLogin {
    position: absolute;
    top:-300px;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    height: 100px;
    width: 500px;
    text-align: center;
    color:#009140;
    font-weight: bold;
}
.textboxLogin  { 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    background-color: #EAEAEA; 
    background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA)); 
    border: 1px solid #CACACA; 
    color: #444; 
    font-size: 1.4em; 
    margin: 0 0 25px; 
    padding: 1px 5px; 
    width:180px; 
} 
.textboxLogin:focus { 
    background: #FFF;
    -webkit-box-shadow: 0 0 25px #CCC; 
    -moz-box-shadow: 0 0 25px #ccc; 
    box-shadow: 0 0 25px #CCC; 
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05); 
    transform: scale(1.05); 
}

.cajaContenidos {
    background: #FFFFFF;	
    color: #000;
    font-weight: normal;
}

.contenedor {
    background: #00508d;
}

/*.textos {
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #000000;
    text-decoration: none;
    text-align:left;
}*/

.textos {
    font-size: 13px;
    color: #000000;
    text-align:left;
    color:#00508d;
    font-family:'Verdana';
}

.inputButton{
    font-family: Verdana;
    font-size:	 12px;
    font-weight: bold;
    margin: 2px 0px;
    color: #41465A;
    background-color: #FFFFFF;
    padding: 1px;
}

.margenesPantalla {
    margin-left:4px;
    margin-right:4px;
}

.tituloModulo {
    font-size:13px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    margin: 0 auto;
}

.subtitulos {
  text-align: center;
  color:#00508d;
  font-family:'Verdana';
  font-size: 16px;  
}

.tablaListado{
    width: 80%; 
    margin: 0 auto; 
    background-color: white; 
}

.modal-header{
    background-color: #00508d;
    color: #FFFFFF;
}

.xclose{
    color:#ffffff;
}
